* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 150px;
    width: 100%;
    background: linear-gradient(to right, #5d59c0, #585ec5, #5363c9, #4e68cd, #486dd1, #4575d7, #437ddc, #4185e1, #4592e8, #4b9eef, #54abf5, #5fb7fb);
}

.header-topo{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    
}

.header-topo, a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.pesquisar {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    height: 45px;
}

.img-pesquisar {
    background-color:  rgba(255, 255, 255, 0.2);
    height: 15px;
    width: 15px;
    padding: 15px;
    padding-top: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.input-pesquisar{
    width: 730px;
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    color: white;
    
}

.input-pesquisar::placeholder{
    color: white;
}

.input-pesquisar:focus {
    outline: 0;
}

/* corpo */

.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 236, 236);
    height: 100%;
    width: 100%;
}

.cardUm, .cardDois, .cardTres, .cardQuatro {
    height: 150px;
    width: 750px;
    background-color: #ffff;
    margin: 30px;
    padding: 5px;
}

.card-topo {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.dateUm, .dateDois, .dateTres, .dateQuatro{
    font-size: 10px;
    color: #717171;
}

.tituloUm, .tituloDois, .tituloTres, .tituloQuatro {
    font-size: 30px;
    margin: 10px;
}

.assuntoUm, .assuntoDois, .assuntoTres, .assuntoQuatro {
    font-size: 15x;
    margin: 10px;
}

#icon {
    fill: #574ae801;
    stroke: #574ae8;
    stroke-width: 7;
    transition: fill 0.3s;
    cursor: pointer;
  }
  
  #icon.filled,
  #icon:hover {
    fill: #574ae8;
  }

  

  @media screen and (max-width: 750px) {
    .input-pesquisar{
        width: 300px;
        
    }
    
    .cardUm, .cardDois, .cardTres, .cardQuatro {
        height: 250px;
        width: 250px;
        margin: 10px;
    }

    .tituloUm, .tituloDois, .tituloTres, .tituloQuatro {
        font-size: 20px;
        
    }
    
    .assuntoUm, .assuntoDois, .assuntoTres, .assuntoQuatro {
        font-size: 12px;

    }
  }


 
